
body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.create-tasks{
    margin-top: 60px;
    margin-right: 450px; 
    margin-left: 450px;
    padding: 0px;

    background-color: rgba(255, 255, 255, 0.4);     
}

.tasks{   
    margin-top: auto;
    margin-right: 450px;
    margin-left: 450px;
    padding: 0px;

    background-color: rgba(255, 255, 255, 0.4);
}

h1{
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

fieldset{
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #666666;
}

#fieldset_tasks{
    padding: 3px;
}

legend{
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

label{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 10px;
}

#tasks_text{
    font-family: Arial, sans-serif;
    font-size: 23px;
}

#tasks_description, #tasks_duration{
    font-family: Arial, sans-serif;
    font-size: 13px;

}

textarea{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
    border-color: #66afe9;
    box-shadow: 0 0 4px #66afe9;
}

input[type="text"]:hover,
input[type="date"]:hover,
textarea:hover {
    background-color: #e6e6e6;
}

input[type="text"]:hover:placeholder, 
input[type="date"]:hover:placeholder,
textarea:hover::placeholder {
    color: #999;
}

#bntEnviar, #bntConcluir{
    width: 80px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 420px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    transition: color 0.3s, box-shadow 0.3s;
}

#bntEnviar:hover, #bntConcluir:hover{
    color: #66afe9;
    box-shadow: 0 0 4px #66afe9;
}

#by{ 
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin-top: 6%;
    margin-left: 90%;
}

#checkbox{
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#tasks_state{
    font-size: 13px;
    margin-left: 400px;
    margin-top: -68px;
    margin-bottom: 2px;
}

#tasks_state2{
    font-size: 13px;
    margin-left: 370px;
    margin-top: -68px;
    margin-bottom: 68px;
    margin-right: 0px;
    color: orange;
}

#tasks_delete{
    position: relative;
    text-decoration: none;
    color: red;
    font-size: 13px;
    margin-left: 440px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#icon{
    position: relative;
    margin-top: 50px;
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
    transition: transform 0.3 ease-in-out;
}

#icon:hover{
    transform: scale(1.1);
}